[Unit]
Description=Steam Deck Gyro DSU Server
After=sockets.target
StartLimitIntervalSec=400
StartLimitBurst=3

[Service]
Type=simple
Restart=always
RestartSec=90
ExecStart=/usr/bin/sdgyrodsu

[Install]
WantedBy=default.target
